.infoWrapper
  width: 100%

  color: white

  display: flex
  flex-direction: column

.nftDetails
  list-style: none
  width: 100%
  font-size: 18px

.nftDetail
  width: 100%

  display: flex
  justify-content: space-between
  padding: 10px 0