@use 'src/assets/globalStyles/globalStyles' as gs

main
  background-color: gs.$dark-main-color

.main_container
  padding-top: 40px
  max-width: gs.$max-width
  margin: 0 auto

  h1
    text-align: center
