@use 'src/assets/globalStyles/globalStyles' as gs

.background_uploadPage
  background-color: gs.$dark-main-color

.uploadPage_container
  max-width: gs.$max-width
  margin: 0 auto
  margin-bottom: 136px

.uploadPage_header
  display: flex
  flex-direction: row
  align-items: center
  padding-bottom: 24px
  border-bottom: 1px solid #353945

.return_button
  display: flex
  align-items: center
  padding: 12px 16px 12px 19px
  border: 2px solid #353945
  box-sizing: border-box
  border-radius: 90px
  background: none
  margin-top: 24px

  p
    margin-left: 15px
    color: white
    @include gs.poppins-font

.return_button:hover
  opacity: 0.7

.page_label
  margin-top: 64px
  text-align: left

.page_label_description
  @include gs.poppins-font
  color: gs.$Neutrals4
  font-weight: 500
  margin-top: 16px

.profile_settings_container
  display: flex
  flex-direction: row
  margin-top: 30px
  justify-content: space-between

.profile_image_container
  display: flex
  flex-direction: row

.profile_image_description_container
  display: flex
  flex-direction: column
  margin-left: 32px

.profile_image
  height: 128px
  width: 128px
  border-radius: 50%

.image_title
  @include gs.poppins-font
  color: white

.image_description
  max-width: 192px
  margin-top: 8px
  @include gs.poppins-font
  font-weight: 400
  font-size: 14px
  line-height: 22px
  color: gs.$Neutrals4

.image_upload
  margin-top: 10px
  display: flex
  justify-content: center
  align-items: center

  width: 80px
  height: 40px
  background: none
  border: 2px solid gs.$Neutrals3
  border-radius: 90px

  input[type="file"]
    display: none

  p
    color: white

.image_upload:hover
  opacity: 0.8

.account_info_container
  display: flex
  flex-direction: column

.inputs_container
  display: flex
  flex-direction: column
  width: 400px
  border-bottom: 1px solid gs.$Neutrals3


.desc_inputs
  margin: 40px 0
  color: gs.$Neutrals4
  line-height: 24px

.submit_button_wrapper
  margin-top: 40px
  width: 200px

