@use 'src/assets/globalStyles/globalStyles' as gs

header
  width: 100%
  background-color: gs.$dark-main-color
  @include gs.divider

.header_wrapper
  max-width: gs.$max-width
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 0px

.logo
  display: flex
  flex-direction: row

.logo_name
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600
  font-size: 24px
  color: white
  margin-left: 8px
  padding-right: 32px
  border-right: 2px solid #353945

.header__left_content
  display: flex
  flex-direction: row
  align-items: center

  nav
    a
      margin-left: 32px
      @include gs.links-settings

    a:hover
      color: white

.search_wrapper
  display: flex
  align-items: center

.buttons_container
  min-width: 120px
  max-width: content-box
  display: flex
  justify-content: space-between

.icon_wrapper
  display: flex
  margin-left: 10px

@media (max-width: 1038px)
  .logo_name
    padding-right: 16px
  nav
    display: flex
    align-items: center

    a
      font-size: 12px !important
      text-align: center
      margin-left: 16px !important

    a:last-child
      margin-right: 16px


