@import 'src/assets/globalStyles/globalStyles'

.discover_page_wrapper
  max-width: $max-width
  margin: 0px auto
  padding: 0 24px
  width: 100%

.discover_page
  display: flex
  flex-direction: column
  width: 100%

  h2
    color: white
    @include poppins-font
    font-weight: 400
    font-size: 24px
    line-height: 32px
    margin-bottom: 16px

.searchButton
  display: flex
  background-color: $button-submit-color
  padding: 12px
  border: none
  border-radius: 50%

.searchButton:hover
  background-color: $button-submit-hover-color

.first_line
  padding-bottom: 40px
  border-bottom: 1px solid rgba(53, 57, 69, 1)
  align-items: center


.rowblock_discover
  display: flex
  flex-direction: column
  justify-content: space-between

.rowblock_discover:last-child
  margin-top: 62px

.filters
  display: flex
  flex-direction: column

.types_and_cards
  display: flex
  flex-direction: column

.nav_types
  margin-top: 25px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.types
  border: none
  background: none
  margin-left: 36px
  @include links-settings

.types:hover
  color: white

.types:first-child
  margin: 0

.submited_type
  color: black
  padding: 6px 12px
  border-radius: 15px
  background: white

.collectionGridWrapper
  max-width: 1980px
  width: 100%
  height: 100%
  margin: 0 auto

.cards_container
  margin: 30px 0
  display: grid
  grid-template-columns: repeat(auto-fill, 256px)
  grid-column-gap: 15px
  grid-row-gap: 1em
  justify-content: center

.not_found_message_wrapper
  display: flex
  justify-content: center
  text-align: center

.not_found_message
  color: white
  font-weight: 600
  letter-spacing: 2px
  font-size: 25px
  margin-top: 50px

label
  @include poppins-font
  color: rgba(177, 181, 195, 1)

.price_range
  display: flex
  flex-direction: column
  max-height: 256px
  margin-top: 58px

.input_price_range
  display: flex
  flex-direction: row
  justify-content: space-between

  margin-top: 4px
  color: white
  font-weight: 500
  margin-bottom: 24px

.filter
  margin-right: 24px
  width: 100%

.main_filters
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  padding: 24px 0
  border-bottom: 1px solid rgba(53, 57, 69, 1)
  border-top: 1px solid rgba(53, 57, 69, 1)

.loading
  width: 100%
  padding: 100px
  display: flex
  box-sizing: border-box
  justify-content: center

.filter_body
  display: flex
  flex-direction: column
  max-width: 560px
  width: 100%

@media (max-width: 900px)
  .main_filters
    flex-direction: column

  .filter
    display: flex
    justify-content: center
    max-width: 560px
    margin-bottom: 16px


.searchContainer
  width: 100%
.navItemContainer
  display: flex
  justify-content: right

@media (max-width: 560px)
  .nav_types
    flex-direction: column
    align-items: center