@use 'src/assets/globalStyles/globalStyles' as gs
.discover_page_wrapper
  max-width: gs.$max-width
  margin: 80px auto
  width: 100%

.discover_page
  display: flex
  flex-direction: column
  width: 100%

  h2
    color: white
    @include gs.poppins-font
    font-weight: 400
    font-size: 24px
    line-height: 32px

.searchButton
  display: flex
  background-color: gs.$button-submit-color
  padding: 12px
  border: none
  border-radius: 50%

.searchButton:hover
  background-color: gs.$button-submit-hover-color

.first_line
  padding-bottom: 40px
  border-bottom: 1px solid rgba(53, 57, 69, 1)


.rowblock_discover
  display: flex
  flex-direction: row
  justify-content: space-between

.rowblock_discover:last-child
  margin-top: 62px

.filters
  display: flex
  flex-direction: column

.types_and_cards
  display: flex
  flex-direction: column

.nav_types
  display: flex
  flex-direction: row
  align-items: center
  justify-content: right
  height: 52px

.types
  border: none
  background: none
  margin-left: 36px
  @include gs.links-settings

.types:hover
  color: white

.types:first-child
  margin: 0

.submited_type
  color: black
  padding: 6px 12px
  border-radius: 15px
  background: white


.cards_container
  justify-content: center
  margin-top: 58px
  display: grid
  grid-template-columns: repeat(auto-fill, 256px)
  grid-column-gap: 16px
  grid-row-gap: 32px
  width: 832px

.not_found_message_wrapper
  display: flex
  justify-content: center
  width: 832px


.not_found_message
  color: white
  font-weight: 600
  letter-spacing: 2px
  font-size: 25px
  margin-top: 50px

label
  @include gs.poppins-font
  color: rgba(177, 181, 195, 1)

.price_range
  display: flex
  flex-direction: column
  max-height: 256px
  margin-top: 58px

.input_price_range
  display: flex
  flex-direction: row
  justify-content: space-between

  margin-top: 4px
  color: white
  font-weight: 500
  margin-bottom: 24px

.filter
  margin-top: 34px

.filter:first-child
  margin-top: 0

.main_filters
  display: flex
  flex-direction: column
  padding: 24px 0
  border-bottom: 1px solid rgba(53, 57, 69, 1)
  border-top: 1px solid rgba(53, 57, 69, 1)




