.bidCard
  display: flex
  flex-direction: column
  margin-top: 12px
  width: 100%
  padding: 24px

  background: #23262F
  color: #777E91
  font-size: 24px

  border: 1px solid #353945
  box-sizing: border-box

  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12)
  border-radius: 16px

.highestBidUser
  display: flex
  align-items: center

.highestBidInfo
  margin-left: 14px

.userName
  color: white
  font-weight: bold

.bid
  color: white
  font-size: 28px
  font-weight: bold

.bidDollars
  color: #777E91

.btnWrapper
  width: 100%
  &:not(:last-child)
    margin-right: 16px
.purchaseButtons
  margin: 16px 0
  display: flex

.serviceFeeInfoText
  word-spacing: normal
  margin-right: 14px

.percent
  color: white
  margin-right: 14px

.bid_eth
  width: 440px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap


