.bidCard
  display: flex
  flex-direction: column

.highestBidUser
  display: flex
  align-items: center

.highestBidInfo
  margin-left: 14px

.userName
  color: white
  font-weight: bold

.bid
  color: white
  font-size: 28px
  font-weight: bold

.bidDollars
  color: #777E91

.btnWrapper
  width: 100%
  &:not(:last-child)
    margin-right: 16px
.purchaseButtons
  margin: 16px 0
  display: flex

.serviceFeeInfoText
  word-spacing: normal
  margin-right: 14px

.percent
  color: white
  margin-right: 14px


