.collectionsList
  height: 240px
  -webkit-column-count: 3
  -moz-column-count: 3
  column-count: 3
  list-style: disc
  text-align: center
  li
    display: inline-block

.collectionsListWrapper
  margin-top: 117px
  padding-top: 40px
  padding-bottom: 54px
  text-align: left
  background: #23262F

.collectionsListFilter
  text-align: left
  margin-bottom: 38px

  display: flex
  align-items: center

select
  margin-right: -10px
  margin-left: 8px

  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background: none
  color: #3772FF
  font-size: 64px
  border: 0
  outline: none

