@use 'src/assets/globalStyles/globalStyles' as gs

@mixin button-settings
  font-size: 14px
  font-weight: bold
  border-radius: 90px
  color: white

.default_button
  @include button-settings
  &:hover
    opacity: 0.5
    color: white
    cursor: pointer




