@use 'src/assets/globalStyles/globalStyles' as gs

@mixin button-settings
  font-size: 14px
  line-height: 16px
  font-weight: bold
  border-radius: 90px
  color: white

.default_button
  @include button-settings
  &:hover
    opacity: 0.5
    color: white
    cursor: pointer

@media (max-width: 675px)
  .default_button
    font-size: 24px
    margin: 4px 0




